<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
            <div class="az-content-breadcrumb">
                <span>Components</span>
                <span>Master</span>
                <span>Menus</span>
            </div>
            <h2 class="az-content">Menus</h2>
            <form [formGroup]="formdata" (ngSubmit)="save(formdata.value)">
                <div class="row row-sm">
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                        <label>Sr. No.<span class="text-danger">*</span></label>
                        <span *ngIf="formdata.get('srno').hasError('required') && formSubmited"
                        class="text-danger">  This field is required.</span>
                        <input class="form-control" id="srno" formControlName="srno" type="number"  min="0">
                    </div>

                    <div class="col-lg">
                        <label>Title<span class="text-danger">*</span></label>
                        <span *ngIf="formdata.get('title').hasError('required') && formSubmited"
                        class="text-danger">  This field is required.</span>
                        <input class="form-control form-control-sm" id="title" formControlName="title" type="text" required>
                    </div> 
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                        <label>Link<span class="text-danger">*</span></label>
                        <span *ngIf="formdata.get('link').hasError('required') && formSubmited"
                        class="text-danger">  This field is required.</span>
                        <input class="form-control" id="link" formControlName="link" type="text" required>
                    </div>
 
                 <div class="col-lg mg-t-10 mg-lg-t-0" >
                    <div class="form-check">
                        <label>Is Parent Menu<span class="text-danger">*</span></label><br>
                        <input type="checkbox"  class="form-check-input mx-2 mb-5" formControlName="isparentmenu"  style="width:25px;height:20px;">
                      </div>
                    </div> 


                    <div class="col-lg mg-t-10 mg-lg-t-0">
                        <label>ParentMenu <span class="text-danger">*</span></label>
                       
                        <select class="form-control" formControlName="parentmenuid" >
                            <option value=0 disabled selected>-- Select Menu --</option>
                            <option *ngFor="let menu of result" value="{{menu.id}}">{{menu.title}}</option>
                          </select>

                       

                    </div>


                </div>
                <div class="row row-sm mt-2">
                    <div class="col-lg">
                        <input type="submit" value="Save"    class="btn btn-sm btn-primary" />
                        <span (click)="bind()" class="btn btn-sm btn-danger">Cancel</span>
                    </div>
                </div>
            </form>
            <table class="table az-table-reference">
                <thead>
                    <tr>
                        <th class="wd-10p">Actions</th>
                        <th class="wd-5p">No</th>
                        <th class="wd-50p">Sr.No </th>
                        <th class="wd-15p">Title</th>
                        <th class="wd-10p">Link</th>
                        <th class="wd-10p">Is Parent Menu</th>
                        <th class="wd-10p">Parent Menu Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of result; let i = index;">
                        <td>
                            <span (click)="edit(row.id)" class="btn-edit text-primary"><i
                                    class="fas fa-edit"></i></span>
                            <span (click)="delete(row.id)" class="btn-delete text-danger"><i
                                    class="fas fa-trash"></i></span>
                        </td>
                        <td>{{ i + 1 }}</td>
                        <td>{{ row.srno }}</td>
                        <td>{{ row.title }}</td>
                        <td>{{ row.link }}</td>
                        <td>{{ row.isparentmenu }}</td>
                        <td>{{ row.parentmenuid }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>