<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
            <div class="az-content-breadcrumb">
                <span>Components</span>
                <span>General</span>
                <span>Patient</span>
            </div>
            <h2 class="az-content">Registration</h2>
            <div class="row">
                <div class="col-4">
                    <div class="input-group datepickerborder">
                        <input matInput class="datepicker" readonly [matDatepicker]="picker" [(ngModel)]="patient.rdate" placeholder="dd/mm/yyyy" />
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
                <div class="col-8 flex space-x-4 text-right">
                    <span [ngClass]="newPatientButtonClass" (click)="patientTypeChanged('patient', 'new')">New</span>
                    <span [ngClass]="existingPatientButtonClass" (click)="patientTypeChanged('patient', 'existing')">Existing</span>
                    <span [ngClass]="opdPatientButtonClass" class="btn btn-sm" (click)="patientTypeChanged('visit', 'opd')">OPD</span>
                    <span [ngClass]="ipdPatientButtonClass" class="btn btn-sm" (click)="patientTypeChanged('visit', 'ipd')">IPD</span>
                </div>
            </div>
            <hr />
            <div *ngIf="isNewPatientVisible">
                <div class="row row-sm">
                    <div class="col-lg-2 col-6 mg-t-10 mg-lg-t-0">
                        <label>UID No<span class="text-danger">*</span></label>
                        <input class="form-control form-control-sm" [(ngModel)]="patient.uidno" readonly type="text">
                    </div>
                    <div class="col-lg-2 col-6 mg-t-10 mg-lg-t-0">
                        <label>Prefix<span class="text-danger ">*</span></label>
                        <span *ngIf="patient.prefix.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="patient.prefix">
                            <option value="">Select</option>
                            <option *ngFor="let title of titles;" value="{{ title.name }}">{{ title.name }}</option>
                        </select>
                    </div>
                    <div class="col-lg-8 col-8 mg-t-10 mg-lg-t-0">
                        <label>Name<span class="text-danger">*</span></label>
                        <span *ngIf="patient.name.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                        <input class="form-control" [(ngModel)]="patient.name" type="text" />
                    </div>
                    <div class="col-lg-2 col-4 mg-t-10 mg-lg-t-0">
                        <label>Gender<span class="text-danger">*</span></label>
                        <span *ngIf="patient.gender.trim() == '' && formSubmited" class="text-danger"> Required.</span>
                        <select class="form-control" [(ngModel)]="patient.gender">
                            <option value="">Select</option>
                            <option *ngFor="let gender of genders;" value="{{ gender }}">{{ gender }}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 mg-t-10 mg-lg-t-0">
                        <label>Birth Date</label>
                        <div class="input-group datepickerborder">
                            <input matInput class="datepicker" (dateChange)="onBirthdateChange()" readonly [matDatepicker]="birthdatepicker" [(ngModel)]="patient.birthdate" placeholder="dd/mm/yyyy">
                            <mat-datepicker-toggle matIconSuffix [for]="birthdatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #birthdatepicker></mat-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 mg-t-10 mg-lg-t-0">
                        <label>Age<span class="text-danger">*</span></label>
                        <span *ngIf="patient.age.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="patient.age" />
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Blood Group</label>
                        <select class="form-control" [(ngModel)]="patient.blood_group">
                            <option value="">Select</option>
                            <option *ngFor="let bloodgroup of bloodgroups;" value="{{ bloodgroup }}">{{ bloodgroup }}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Marital Status</label>
                        <select class="form-control" [(ngModel)]="patient.marital_status">
                            <option value="">Select</option>
                            <option *ngFor="let maritalstatus of maritalstatuses;" value="{{ maritalstatus }}">{{
                                maritalstatus }}</option>
                        </select>
                    </div>
                    <div class="col-lg-8 col-8 mg-t-10 mg-lg-t-0">
                        <label>Address<span class="text-danger">*</span></label>
                        <span *ngIf="patient.address.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                        <input class="form-control form-control-sm" type="text" [(ngModel)]="patient.address" />
                    </div>
                    <div class="col-lg-4 col-4 mg-t-10 mg-lg-t-0">
                        <label>Town<span class="text-danger">*</span></label>
                        <span *ngIf="patient.townid == 0 && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="patient.townid">
                            <option value="">Select</option>
                            <option *ngFor="let town of towns;" value="{{ town.id }}">{{ town.name }}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Mobile No<span class="text-danger">*</span></label>
                        <span *ngIf="patient.mobile_no.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                        <input class="form-control" [(ngModel)]="patient.mobile_no" type="text" />
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Alternative Mobile No</label>
                        <input class="form-control form-control-sm" [(ngModel)]="patient.alt_mobile_no" type="text" />
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Occupation</label>
                        <input class="form-control form-control-sm" [(ngModel)]="patient.occupation" type="text" />
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Adhaar Number</label>
                        <input class="form-control form-control-sm" [(ngModel)]="patient.aadhaar_no" type="text" />
                    </div>
                </div>
            </div>
            <div *ngIf="isExistingPatientVisible" class="row row-sm mt-2 ">
                <div class="col-lg-8">
                    <label>Patient<span class="text-danger ">*</span></label>
                    <select class="form-control" [(ngModel)]="patientid">
                        <option value="0">Select</option>
                        <option *ngFor="let patient of patients;" value="{{patient.id}}">
                            {{patient.name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="opdPatientVisible">
                <hr />
                <div class="row row-sm mt-4">
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>OPD Date<span class="text-danger ">*</span></label>
                        <div class="input-group datepickerborder">
                            <input matInput class="datepicker" readonly [matDatepicker]="opddatepicker" [(ngModel)]="opd.opddate" placeholder="dd/mm/yyyy" />
                            <mat-datepicker-toggle matIconSuffix [for]="opddatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #opddatepicker></mat-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Time<span class="text-danger ">*</span></label>
                        <span *ngIf="opd.opdtime == '' && formSubmited" class="text-danger"> Field required.</span>
                        <input class="form-control form-control-sm" [(ngModel)]="opd.opdtime" type="time" />
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Height</label>
                        <input class="form-control form-control-sm" [(ngModel)]="opd.height" type="number">
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Weight</label>
                        <input class="form-control form-control-sm" [(ngModel)]="opd.weight" type="number">
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Doctor<span class="text-danger ">*</span></label>
                        <span *ngIf="opd.doctorid == 0 && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="opd.doctorid">
                            <option value="0">Select</option>
                            <option *ngFor="let doctor of consultingdoctors;" value="{{doctor.id}}">{{doctor.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Referral<span class="text-danger ">*</span></label>
                        <span *ngIf="opd.refdoctorid == 0 && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="opd.refdoctorid">
                            <option value="0">Select</option>
                            <option *ngFor="let doctor of doctors;" value="{{doctor.id}}">{{doctor.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngIf="ipdPatientVisible">
                <hr />
                <div class="row row-sm mt-4 ">
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>IPD Date<span class="text-danger ">*</span></label>
                        <div class="input-group datepickerborder">
                            <input matInput class="datepicker" readonly [matDatepicker]="ipddatepicker" [(ngModel)]="ipd.admissiondate" placeholder="dd/mm/yyyy" />
                            <mat-datepicker-toggle matIconSuffix [for]="ipddatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #ipddatepicker></mat-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Time<span class="text-danger ">*</span></label>
                        <span *ngIf="ipd.admissiontime == '' && formSubmited" class="text-danger"> Field required.</span>
                        <input class="form-control form-control-sm" [(ngModel)]="ipd.admissiontime" type="time" />
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Doctor<span class="text-danger ">*</span></label>
                        <span *ngIf="ipd.doctorid == 0 && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="ipd.doctorid">
                            <option value="0">Select</option>
                            <option *ngFor="let doctor of consultingdoctors;" value="{{doctor.id}}">{{doctor.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Referral<span class="text-danger ">*</span></label>
                        <span *ngIf="ipd.refdoctorid == 0 && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="ipd.refdoctorid">
                            <option value="0">Select</option>
                            <option *ngFor="let doctor of doctors;" value="{{doctor.id}}">{{doctor.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Room<span class="text-danger ">*</span></label>
                        <span *ngIf="ipd.roomid == 0 && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="ipd.roomid" (change)="onRoomChange($event)">
                            <option value="0">Select</option>
                            <option *ngFor="let room of rooms;" value="{{room.id}}">{{room.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Bed<span class="text-danger">*</span></label>
                        <span *ngIf="ipd.bedid == 0 && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="ipd.bedid">
                            <option value="0">Select</option>
                            <option *ngFor="let bed of beds;" value="{{bed.id}}">{{bed.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Company<span class="text-danger ">*</span></label>
                        <span *ngIf="ipd.companyid == 0 && formSubmited" class="text-danger"> Field required.</span>
                        <select class="form-control" [(ngModel)]="ipd.companyid">
                            <option value="0">Select</option>
                            <option *ngFor="let company of companies;" value="{{company.id}}">{{company.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                        <label>Remark</label>
                        <input class="form-control form-control-sm" [(ngModel)]="ipd.remark" type="text" />
                    </div>
                </div>
            </div>
            <div>
                <hr />
                <div class="row row-sm mt-4">
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                        <input type="submit" (click)="save()" value="Save" class="btn btn-sm btn-primary" />
                        <span (click)="bind()" class="btn btn-sm btn-danger ms-2">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>