<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
            <div class="az-content-breadcrumb">
                <span>Components</span>
                <span>General</span>
                <span>Patient Details</span>
            </div>
            <h2 class="az-content">Patient Details</h2>
            <hr />
            <div class="row mt-1">
                <div class="col-lg-4">
                    <p><strong>UID No :</strong> <input class="noborder" [(ngModel)]="patient.uidno" type="text" [disabled]="isReadonly">
                    </p>
                </div>
                <div class="col-lg-4">
                    <p><strong>Name:</strong> <input class="noborder" [(ngModel)]="patient.name" type="text" [disabled]="isReadonly" />
                    </p>
                </div>
                <div class="col-lg-4">
                    <p><strong>Gender : </strong> <input type="text" class="noborder" [(ngModel)]="patient.gender" [disabled]="isReadonly" /></p>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-lg-4">
                    <p><strong>Birth Date :</strong>
                        <input type="text" class="noborder" [ngModel]="patient.Birthdate | date:'dd/MM/yyyy'" />
                    </p>
                </div>
                <div class=" col-lg-4">
                    <p><strong>Age:</strong> <input class="noborder" [(ngModel)]="patient.age" type="text" [disabled]="isReadonly" />
                    </p>
                </div>
                <div class="col-lg-4">
                    <p><strong>Blood Group : </strong> <input type="text" class="noborder" [(ngModel)]="patient.BloodGroup" [disabled]="isReadonly" /></p>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-lg-4">
                    <p><strong>Marital Status :</strong><input class="noborder" [(ngModel)]="patient.MaritalStatus" type="text" [disabled]="isReadonly" /></p>
                </div>
                <div class="col-lg-4 ">
                    <p><strong>Address:</strong> <input class="noborder" [(ngModel)]="patient.address" type="text" [disabled]="isReadonly" />
                    </p>
                </div>
                <div class="col-lg-4 ">
                    <p><strong>Town : </strong> <input type="text" class="noborder" [(ngModel)]="patient.townid" [disabled]="isReadonly" /></p>
                </div>
            </div>

            <div class="row mt-1 ">
                <div class="col-lg-4">
                    <p><strong>Mobile No :</strong><input class="noborder" [(ngModel)]="patient.MobileNo" type="text" [disabled]="isReadonly" /></p>
                </div>
                <div class="col-lg-4">
                    <p><strong>Occupation : </strong> <input type="text" class="noborder" [(ngModel)]="patient.occupation" [disabled]="isReadonly" /></p>
                </div>


                <div class="col-lg-4">
                    <p><strong>Adhaar Number : </strong> <input type="text" class="noborder" [(ngModel)]="patient.AadhaarNo" [disabled]="isReadonly" /></p>
                </div>
                <div class="col-lg-6">
                    <p><strong>Alternative Mobile No :</strong> <input class="noborder" [(ngModel)]="patient.AltMobileNo" type="text" [disabled]="isReadonly" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>