<div *ngIf="role" class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
            <div class="az-content-breadcrumb">
                <span>Components</span>
                <span>Master</span>
                <span>Role-Menus Mapping</span>
            </div>
            <h2 class="az-content">Role-Menus Mapping - {{ role.name }}</h2>
            <div class="row row-sm mt-2">
                <div class="col-lg-12">
                    <ul>
                        <li *ngFor="let row of result;">
                            <label style="cursor: pointer;"><input type="checkbox" [checked]="row.rmId != 0" (change)="menuChecked($event, row.m.id, row.rmId)" />
                            {{ row.m.title }}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>