<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
            <div class="az-content-breadcrumb">
                <span>Components</span>
                <span>General</span>
                <span>Patient</span>
            </div>
            <h2 class="az-content">Registration</h2>

            <hr />

            <div class="row row-sm">
                <div class="col-lg-2 col-6 mg-t-10 mg-lg-t-0">
                    <label>UID No<span class="text-danger">*</span></label>
                    <input class="form-control form-control-sm" [(ngModel)]="patient.uidno" readonly type="text">
                </div>
                <div class="col-lg-2 col-6 mg-t-10 mg-lg-t-0">
                    <label>Prefix<span class="text-danger ">*</span></label>
                    <span *ngIf="patient.prefix?.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                    <select class="form-control" [(ngModel)]="patient.prefix">
                            <option value="">Select</option>
                            <option *ngFor="let title of titles;" value="{{ title.name }}">{{ title.name }}</option>
                        </select>
                </div>
                <div class="col-lg-8 col-8 mg-t-10 mg-lg-t-0">
                    <label>Name<span class="text-danger">*</span></label>
                    <span *ngIf="patient.name && patient.name?.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                    <input class="form-control" [(ngModel)]="patient.name" type="text" />
                </div>
                <div class="col-lg-2 col-4 mg-t-10 mg-lg-t-0">
                    <label>Gender<span class="text-danger">*</span></label>
                    <span *ngIf="patient.gender?.trim() == '' && formSubmited" class="text-danger"> Required.</span>
                    <select class="form-control" [(ngModel)]="patient.gender">
                            <option value="">Select</option>
                            <option *ngFor="let gender of genders;" value="{{ gender }}">{{ gender }}</option>
                        </select>
                </div>
                <div class="col-lg-2 col-6 mg-t-10 mg-lg-t-0">
                    <label>Birth Date</label>
                    <div class="input-group datepickerborder">
                        <input matInput class="datepicker" (dateChange)="onBirthdateChange()" readonly [matDatepicker]="birthdatepicker" [(ngModel)]="patient.Birthdate" placeholder="dd/mm/yyyy">
                        <mat-datepicker-toggle matIconSuffix [for]="birthdatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #birthdatepicker></mat-datepicker>
                    </div>
                </div>
                <div class="col-lg-2 col-6 mg-t-10 mg-lg-t-0">
                    <label>Age<span class="text-danger">*</span></label>
                    <span *ngIf="patient.age?.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="patient.age" />
                </div>
                <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                    <label>Blood Group</label>
                    <select class="form-control" [(ngModel)]="patient.BloodGroup">
                            <option value="">Select</option>
                            <option *ngFor="let bloodgroup of bloodgroups;" value="{{ bloodgroup }}">{{ bloodgroup }}
                            </option>
                        </select>
                </div>
                <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                    <label>Marital Status</label>
                    <select class="form-control" [(ngModel)]="patient.MaritalStatus">
                            <option value="">Select</option>
                            <option *ngFor="let maritalstatus of maritalstatuses;" value="{{ maritalstatus }}">{{
                                maritalstatus }}</option>
                        </select>
                </div>
                <div class="col-lg-8 col-8 mg-t-10 mg-lg-t-0">
                    <label>Address<span class="text-danger">*</span></label>
                    <span *ngIf="patient.address?.trim() == '' && formSubmited" class="text-danger"> Field required.</span>
                    <input class="form-control form-control-sm" type="text" [(ngModel)]="patient.address" />
                </div>
                <div class="col-lg-4 col-4 mg-t-10 mg-lg-t-0">
                    <label>Town<span class="text-danger">*</span></label>
                    <span *ngIf="patient.townid == 0 && formSubmited" class="text-danger"> Field required.</span>
                    <select class="form-control" [(ngModel)]="patient.townid">
                            <option value="">Select</option>
                            <option *ngFor="let town of towns;" value="{{ town.id }}">{{ town.name }}</option>
                        </select>
                </div>
                <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                    <label>Mobile No<span class="text-danger">*</span></label>
                    <span *ngIf="(patient.MobileNo?.trim() == '' || patient.MobileNo == null) && formSubmited" class="text-danger"> Field required.</span>
                    <input class="form-control" [(ngModel)]="patient.MobileNo" type="text" />
                </div>
                <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                    <label>Alternative Mobile No</label>
                    <input class="form-control form-control-sm" [(ngModel)]="patient.AltMobileNo" type="text" />
                </div>
                <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                    <label>Occupation</label>
                    <input class="form-control form-control-sm" [(ngModel)]="patient.occupation" type="text" />
                </div>
                <div class="col-lg-3 col-6 mg-t-10 mg-lg-t-0">
                    <label>Adhaar Number</label>
                    <input class="form-control form-control-sm" [(ngModel)]="patient.AadhaarNo" type="text" />
                </div>
            </div>

            <div>
                <hr />
                <div class="row row-sm mt-4">
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                        <input type="submit" (click)="save()" value="Save" class="btn btn-sm btn-primary" />
                        <span (click)="bind()" class="btn btn-sm btn-danger ms-2">Cancel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>