<div class="az-content-left az-content-left-components">
    <div class="component-item">
      <label>Masters</label>
      <nav class="nav flex-column">
        <a routerLink="/master/rooms" class="nav-link">Rooms</a>
        <a routerLink="/master/roles" class="nav-link">Roles</a>
        <a routerLink="/master/concessionBy" class="nav-link">Concession By</a>  
        <a routerLink="/master/paymentmodes" class="nav-link">Payment Modes</a>
        <a routerLink="/master/h-information" class="nav-link">Hosiptal-Information</a>
        <a routerLink="/master/menus" class="nav-link">Menus</a>
        <a routerLink="/master/doctors" class="nav-link">Doctors</a>
        <a routerLink="/master/users" class="nav-link">Users</a>
      </nav>
    </div>
  </div>