<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
      <div class="az-content-breadcrumb">
        <span>Components</span>
        <span>Master</span>
        <span>Rooms</span>
      </div>
      <h2 class="az-content">Rooms</h2>
      <form [formGroup]="formdata" (ngSubmit)="save(formdata.value)">
      <div class="row row-sm">
        <div class="col-lg">
          <label>Name<span class="text-danger">*</span></label>
          <input class="form-control form-control-sm" formControlName="name" type="text" required>
        </div>
        <div class="col-lg mg-t-10 mg-lg-t-0">
          <label>Prefix<span class="text-danger">*</span></label>
          <input class="form-control" formControlName="prefix" type="text" required>
        </div>
        <div class="col-lg mg-t-10 mg-lg-t-0">
          <label>Occupied Color<span class="text-danger">*</span></label>
          <input class="form-control"  formControlName="oColor" type="color" required>
        </div>
        <div class="col-lg mg-t-10 mg-lg-t-0">
          <label>Vacant Color<span class="text-danger">*</span></label>
          <input class="form-control"  formControlName="vColor" type="color" required>
        </div>
      </div>
      <div class="row row-sm mt-2">
        <div class="col-lg">
          <input type="submit" value="Save" class="btn btn-sm btn-primary" />
          <span (click)="bind()" class="btn btn-sm btn-danger">Cancel</span>
        </div>
      </div><!-- row -->
    </form>    
      <table class="table az-table-reference">
        <thead>
          <tr>
            <th class="wd-10p">Actions</th>
            <th class="wd-5p">No</th>
            <th class="wd-55p">Name</th>
            <th class="wd-20p">Prefix</th>
            <th class="wd-5p">O Color</th>
            <th class="wd-5p">V Color</th>
            <th class="wd-10p">Beds</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of result; let i = index;">
            <td>
              <span (click)="edit(row.id)" class="btn-edit text-primary"><i class="fas fa-edit"></i></span>
              <span (click)="delete(row.id)" class="btn-delete text-danger"><i class="fas fa-trash"></i></span>
            </td>
            <td>{{ i + 1 }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.prefix }}</td>
             <td><div class="py-3 px-3"  [ngStyle]="{'background-color': row.oColor,'width':'5px'}"> </div></td>
            <td><div class="py-3 px-3" [ngStyle]="{'background-color': row.vColor,'width':'5px'}"></div></td> 
            <td><button class="btn btn-sm btn-purple" routerLink="/master/beds/{{row.id}}">Beds</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>