<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
            <div class="az-content-breadcrumb">
                <span>Components</span>
                <span>Master</span>
                <span>Users</span>
            </div>
            <h2 class="az-content">Users</h2>
            <form [formGroup]="formdata" (ngSubmit)="save(formdata.value)">
                <div class="row row-sm">
                    <div class="col-lg">
                        <label>Name<span class="text-danger">*</span></label>
                        <span *ngIf="formdata.get('name').hasError('required') && formSubmited" class="text-danger">  This field is required.</span>
                        <span *ngIf="formdata.get('name').hasError('whitespace') &&  formSubmited" class="text-danger">Spaces are not allowed.</span>
                        <input class="form-control form-control-sm" id="name" formControlName="name" type="text">
                    </div>

                    <div class="col-lg mg-t-10 mg-lg-t-0">
                        <label>Role<span class="text-danger">*</span></label>
                        <span *ngIf="formdata.get('roleid').hasError('required') && formSubmited" class="text-danger">select role</span>
                        <select class="form-control" formControlName="roleid" id="roleid">
              <option value=0 disabled >Select</option>
              <option *ngFor="let role of rolesresult" value="{{role.id}}">{{role.name}}</option>
            </select>
                    </div>

                    <div class="col-lg mg-t-10 mg-lg-t-0">
                        <label>UserName<span class="text-danger">*</span></label>
                        <span *ngIf="formdata.get('username').hasError('required') && formSubmited" class="text-danger">  This field is required.</span>
                        <span *ngIf="formdata.get('username').hasError('whitespace') && formSubmited" class="text-danger">Spaces are not allowed.</span>
                        <input class="form-control" id="username" formControlName="username" type="text">
                    </div>
                    <div class="col-lg mg-t-10 mg-lg-t-0">
                        <label>Password<span class="text-danger">*</span></label>
                        <span *ngIf="formdata.get('password').hasError('required') && formSubmited" class="text-danger">  This field is required.</span>
                        <span *ngIf="formdata.get('password').hasError('whitespace') && formSubmited" class="text-danger">Spaces are not allowed.</span>
                        <input class="form-control" id="password" formControlName="password" type="text">
                    </div>

                </div>
                <div class="row row-sm mt-2">
                    <div class="col-lg">
                        <input type="submit" value="Save" class="btn btn-sm btn-primary" />
                        <span (click)="bind()" class="btn btn-sm btn-danger">Cancel</span>
                    </div>
                </div>
            </form>
            <table class="table az-table-reference">
                <thead>
                    <tr>
                        <th class="wd-10p">Actions</th>
                        <th class="wd-5p">No</th>
                        <th class="wd-50p">Name</th>
                        <th class="wd-15p">Role</th>
                        <th class="wd-10p">Username</th>
                        <th class="wd-10p">Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of result; let i = index;">
                        <td>
                            <span (click)="edit(row.id)" class="btn-edit text-primary"><i class="fas fa-edit"></i></span>
                            <span (click)="delete(row.id)" class="btn-delete text-danger"><i class="fas fa-trash"></i></span>
                        </td>
                        <td>{{ i + 1 }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.role.name }}</td>
                        <td>{{ row.username }}</td>
                        <td>{{ row.password }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>